<div class="all-services">
  <div class="service-each service-1">
    <div class="heading">
      <h2> Launch a new Idea </h2>
    </div>
    <div class="asset">
      <img src="/assets/images/svg/undraw_drone_race_0sim.svg" alt="" srcset="">
    </div>
    <div class="text">
      <ul>
        <li> Looking to bring a new App to the market?</li>
        <li> A new service model? </li>
      </ul>
      <p>Need a team to design, develop and ship?</p>

      <a href="/contact">Book a session</a>
    </div>

  </div>

  <div class="service-each service-2">
    <div class="heading">
      <h2> Improve the user experience </h2>
    </div>
    <div class="asset">
      <img src="/assets/images/svg/undraw_virtual_assistant_jjo2.svg" alt="" srcset="">
    </div>
    <div class="text">
      <p> Staying _current_ in this day and age is hard but rewarding.

        We can help design, re-design, retrofit to provide responsive and intuitive solutions.
      </p>

      <a href="/contact">Share your design</a>
    </div>
  </div>

  <div class="service-each service-3">
    <div class="heading">
      <h2> Streamline your business </h2>
    </div>
    <div class="asset">
      <img src="/assets/images/svg/undraw_process_e90d.svg" alt="Streamline your business  svg image" srcset="">
    </div>
    <div class="text">
      <p>
        Rethinking the way of doing things?
        Want efforts towards optimal solutions?

        We help clients save costs by rapidly improving on legacy systems and fix technical debts if any.

      </p>

      <a href="/contact">Let us know</a>
    </div>
  </div>

  <div class="service-each service-4">
    <div class="heading">
      <h2> Rescue Project </h2>
    </div>
    <div class="asset">
      <img src="/assets/images/svg/undraw_environment_iaus.svg" alt="Rescue Project svg image" srcset="">
    </div>
    <div class="text">
      <p>
        The software industry is notorious for unfinished, un-timely paused projects. Looking for a collaborative team
        to push forward?
      </p>

      <a href="/contact">Let renovate</a>
    </div>
  </div>

  <div class="service-each service-5">
    <div class="heading">
      <h2> Scale and improve existing solutions</h2>
    </div>
    <div class="asset">
      <img src="/assets/images/svg/undraw_decide_3iwx.svg" alt="Scale and improve existing solutions svg image"
        srcset="">
    </div>
    <div class="text">
      <ul>
        <li>
          Launching into a new market?
        </li>
        <li>
          New feature-set planned for your customers?
        </li>
        <li>
          Speed-up existing services
        </li>
      </ul>
      <p>
        We have helped many clients achieve this with extream turnaround times. Yes, we are proud.
      </p>

      <a href="/contact">Scale with us</a>
    </div>
  </div>


</div>