/* Coolors Exported Palette - coolors.co/406e8e-31425b-2f394d-abb8c6-cbd0d8 */

/* HSL */
$color1: hsla(205%, 38%, 40%, 1);
$color2: hsla(216%, 30%, 27%, 1);
$color3: hsla(220%, 24%, 24%, 1);
$color4: hsla(211%, 19%, 72%, 1);
$color5: hsla(217%, 14%, 82%, 1);

/* RGB */
$color1: rgba(64, 110, 142, 1);
$color2: rgba(49, 66, 91, 1);
$color3: rgba(47, 57, 77, 1);
$color4: rgba(171, 184, 198, 1);
$color5: rgba(203, 208, 216, 1);