---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main

.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .left-side {

    }
    .right-side {

    }
}