<div class="blogs-container">
    <div class="blogs-header section-header">
        <h2>Projects</h2>
        <p>What etho Upto?</p>
    </div>
    <div class="blogs-content">
        {% for post in site.projects limit:8 %}
            {% if post.id == page.id %}
                {% continue %}
            {% endif %}
            {% include archive-single.html type="grid" %}
        {% endfor %}
    </div>

    <div class="blogs-more">
        <a href="./projects/" class="internal-link">More..</a>
    </div>

</div>