<!-- <div class="partners-container">
    <div class="partners-header section-header">
        <h2>Awesome partners</h2>
        
    </div>
    <div class="partners-content">
        {% for beta in site.partners %}
        <div class="each-beta-item">
            <div class="item-header">
                <h3>{{beta.title}}</h3>
                <p>{{beta.description}}</p>
            </div>
            <div class="item-info">
                {{}}
            </div>
        </div>
        {% endfor %}
    </div>

</div> -->