---
layout: archive
---


{{ content }}

<ul class="taxonomy__index">
  {% assign threadsInStatus = site.projects | group_by_exp: 'thread', 'thread.status' %}
  {% for status in threadsInStatus %}
    <li>
      <a href="#{{ status.name }}">
        <strong>{{ status.name }}</strong> <span class="taxonomy__count">{{ status.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign threadsByStatus = site.projects | group_by_exp: 'thread', 'thread.status' %}
{% for status in threadsByStatus %}
  <section id="{{ status.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ status.name }}</h2>
    <!-- {{ categories }} -->
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in status.items %}
        {% include archive-single.html type=page.entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
